<div class="tasks-table-container">

  @if(tempTasks.length > 0){
  <table class="tasks-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Expected Output</th>
        <th>Assigned Agent ID</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for(task of tempTasks; track task.id){
      <tr>
        <td>{{ task.id }}</td>
        <td>
          <input [(ngModel)]="task.title" (ngModelChange)="onInputChange()" />
        </td>
        <td>
          <textarea
            [(ngModel)]="task.description"
            (ngModelChange)="onInputChange()"
          ></textarea>
        </td>
        <td>
          <textarea
            [(ngModel)]="task.expected_output"
            (ngModelChange)="onInputChange()"
          ></textarea>
        </td>
        <td>
          <select [(ngModel)]="task.agentId" (ngModelChange)="onInputChange()">
            @for(agent of agents; track agent.id){
            <option [value]="agent.id">
              {{ agent.name }}
            </option>
            }
          </select>
        </td>
        <td>
          <button (click)="deleteTask(task.id)">❌</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  }

 
  @if(tempTasks.length === 0){
  <div>
    <p>No tasks available.</p>
  </div>
  }


  @if(validationErrors.length > 0){
  <div class="validation-errors">
    <ul>
      //нехай вже буде ngFor
      <li *ngFor="let error of validationErrors">{{ error }}</li>
    </ul>
  </div>
  }
</div>


<div class="buttons-container">
  <button class="add-task-btn" (click)="navigateToAddTask()">Add Task</button>
  @if(tempTasks.length > 0){
  <button class="save-task-btn" (click)="saveTasks()">Update Tasks</button>

  }
</div>
