.tasks-container {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 1.5em;
  color: #131a25;
  margin-bottom: 1em;
}
