.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.tasks-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.tasks-table-container {
  width: 100%;
}

.tasks-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 0.5rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

th {
  background-color: #131a25;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

td {
  background-color: #fff;
  font-size: 1rem;
}

td:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

input,
textarea,
select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
}

textarea {
  max-height: 4rem;
  overflow-y: auto;
  resize: none;
}
.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  height: 2.5em;
}

.add-task-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #131a25;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.add-task-btn:hover {
  background-color: rgba(19, 26, 37, 0.8);
}

.reload-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.reload-btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.save-task-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.save-task-btn:hover {
  background-color: rgba(40, 167, 69, 0.8);
}
.validation-errors {
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #f8d7da;
  color: #721c24 !important;
}

.validation-errors p {
  font-weight: bold;
}

.validation-errors ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.validation-errors li {
  margin-bottom: 0.5rem;
}

th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}
th:nth-child(2),
td:nth-child(2) {
  width: 15%;
}
th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 20%;
}
th:nth-child(5),
td:nth-child(5) {
  width: 10%;
}
th:nth-child(6),
td:nth-child(6) {
  width: 5%;
}

.validation-errors {
  color: red;
  max-width: 50%;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  th,
  td {
    padding: 0.4rem;
    font-size: 0.9rem;
  }

  .buttons-container {
    flex-direction: column;
    gap: 10px;
  }

  .add-agent-btn,
  .add-task-btn,
  .save-btn,
  .reload-btn {
    padding: 0.5rem 1em;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  th,
  td {
    padding: 0.3rem;
    font-size: 0.8rem;
  }

  .buttons-container {
    flex-direction: column;
    gap: 8px;
  }

  .add-agent-btn,
  .add-task-btn,
  .save-btn,
  .reload-btn {
    padding: 0.4rem 0.8rem;
    font-size: 0.8rem;
  }
}
