.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.375rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  max-width: 25rem;
  width: 100%;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.header-content h2,
.header-content i {
  color: #131a25;
  margin: 0;
  font-size: 1.5rem;
}

.header-content i {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}

.modal-content label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
  font-size: 0.875rem;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
}

.modal-content input:focus,
.modal-content textarea:focus,
.modal-content select:focus {
  border-color: #131a25;
  box-shadow: 0 0 0.25rem rgba(19, 26, 37, 0.3);
  outline: none;
}

.modal-content textarea {
  resize: none;
  height: 5rem;
}

button {
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.875rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button[type="submit"] {
  background-color: #28a745;
}

button[type="submit"]:disabled {
  background-color: #b2b2b2;
  cursor: not-allowed;
}

button[type="submit"]:hover:not(:disabled) {
  background-color: #218838;
  transform: translateY(-1px);
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.close-modal-btn {
  background: transparent;
  border: 1px solid black;
  font-size: 0.9rem;
  color: #000000;
  cursor: pointer;
}

.close-modal-btn:hover {
  background: black;
  color: #ffffff;
}
small {
  color: red;
  font-size: 0.75rem;
}

@media (max-width: 768px) {
  .modal-content {
    padding: 1.25rem;
    max-width: 75%;
  }

  .modal-header h2 {
    font-size: 1.3rem;
  }

  .modal-content input,
  .modal-content textarea,
  .modal-content select,
  button {
    font-size: 0.75rem;
  }

  .button-group {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (max-width: 480px) {
  .modal-content {
    padding: 1rem;
    max-width: 85%;
  }

  .modal-header h2 {
    font-size: 1.2rem;
  }
}
