:host {
  margin-right: 5em;
  z-index: 1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 3.8em; /* Approximately 60px */
  height: 100vh;
  background-color: #131a25;
  color: #fff;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1); /* Slight shadow to the right */
  padding: 1em;
}

.logo {
  width: 100%;
  text-align: center;
  padding: 1.3em 0; /* Approximately 20px */
  font-size: 1.9em; /* Approximately 30px */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.divider {
  width: 100%;
  border: none;
  border-top: 1px solid #444; /* 1px for the divider */
  margin: 0.6em 0; /* Approximately 10px */
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1em; /* Space between menu items */
}

.menu-item {
  width: 100%;
  padding: 1em 1.2em; /* Soft padding */
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease, font-weight 0.3s ease;
  border-radius: 10px; /* Rounded corners for menu items */
}

.home {
  width: 1em;
}

.menu-item:hover {
  background-color: #757575;
  font-weight: bold;
}

.menu-icon {
  font-size: 1.4em; /* Approximately 22px */
  margin-right: 1em; /* Approximately 15px */
  transition: margin 0.3s ease;
}

.menu-text {
  font-size: 1.3em; /* Approximately 20px */
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sidebar:hover {
  width: 12.5em; /* Approximately 200px */
}

.sidebar:hover .menu-text {
  opacity: 1; /* Show text on hover */
}

.sidebar:hover .menu-icon {
  margin-right: 1em; /* Maintain space for text on hover */
}

.logout {
  margin-top: auto; /* Push the logout item to the bottom */
  margin-bottom: 5em;
}

.logout-item {
  border-top: 1px solid #444; /* Optional: Add a border at the top */
  padding-top: 1em; /* Optional: Add some padding to separate it */
}

/* Responsive Styles */
@media (max-width: 1100px) {
  .sidebar {
    width: 3em; /* Smaller sidebar on tablets and small screens */
  }

  .sidebar:hover {
    width: 3em; /* Prevent expansion on hover */
  }

  .menu-icon {
    font-size: 1.2em; /* Slightly smaller icons */
    margin-right: 0.8em; /* Adjust margin */
  }

  .menu-text {
    display: none; /* Hide text on smaller screens */
  }
  .logout {
    margin-top: auto; /* Push the logout item to the bottom */
    margin-bottom: 10em;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 2.5em; /* Even smaller sidebar on very small screens */
  }

  .sidebar:hover {
    width: 2.5em; /* Prevent expansion on hover */
  }

  .menu-icon {
    font-size: 1em; /* Smaller icons */
    margin-right: 0.5em; /* Adjust margin */
  }

  .menu-text {
    display: none; /* Hide text on very small screens */
  }
  .logout {
    margin-top: auto; /* Push the logout item to the bottom */
    margin-bottom: 10em;
  }
}
