<aside class="sidebar">
  <header routerLink="" class="logo">
    <span>UI</span>
  </header>
  <hr class="divider" />

  <nav class="menu">
    @if(!getUser()){
    <section>
      <a routerLink="/" class="menu-item">
        <div class="menu-icon">
          <i class="fa fa-home"></i>
        </div>
        <span class="menu-text">Main Page</span>
      </a>
      <a routerLink="login" class="menu-item">
        <div class="menu-icon">
          <i class="fa fa-sign-in-alt"></i>
        </div>
        <span class="menu-text">Login</span>
      </a>
      <a routerLink="signup" class="menu-item">
        <div class="menu-icon">
          <i class="fa fa-plus"></i>
        </div>
        <span class="menu-text">Sign Up</span>
      </a>
    </section>
    }
  </nav>

  @if(getUser()){
  <nav class="authenticated-menu">
    <a routerLink="" class="menu-item">
      <div class="menu-icon home">
        <i class="fa fa-home"></i>
      </div>
      <span class="menu-text">Main Page</span>
    </a>
    <a [routerLink]="['/profile', getUser()!.id]" class="menu-item">
      <div class="menu-icon profile-icon">
        <i class="fa fa-user"></i>
      </div>
      <span class="menu-text profile">Profile</span>
    </a>
    <section class="menu logout" [ngClass]="{ 'logout-item': true }">
      <div class="menu-item" (click)="logout()">
        <div class="menu-icon">
          <i class="fa fa-sign-out-alt"></i>
        </div>
        <span class="menu-text">Logout</span>
      </div>
    </section>
  </nav>
  }
</aside>
