<div class="sidebar">
  <div routerLink="" class="logo">
    <span>UI</span>
  </div>
  <hr class="divider" />

  <div class="menu">
    @if(!getUser()){
    <div>
      <div routerLink="/" class="menu-item">
        <div class="menu-icon home">
          <i class="fa fa-home"></i>
        </div>
        <div class="menu-text">Main Page</div>
      </div>
      <div routerLink="login" class="menu-item">
        <div class="menu-icon">
          <i class="fa fa-sign-in-alt"></i>
        </div>
        <div class="menu-text">Login</div>
      </div>
      <div routerLink="signup" class="menu-item">
        <div class="menu-icon">
          <i class="fa fa-plus"></i>
        </div>
        <div class="menu-text">Sign Up</div>
      </div>
    </div>
    }
  </div>

  @if(getUser()){
  <div routerLink="" class="menu-item">
    <div class="menu-icon home">
      <i class="fa fa-home"></i>
    </div>
    <div class="menu-text">Main Page</div>
  </div>
  <div class="menu logout" [ngClass]="{ 'logout-item': true }">
    <div class="menu-item" (click)="logout()">
      <div class="menu-icon">
        <i class="fa fa-sign-out-alt"></i>
      </div>
      <div class="menu-text">Logout</div>
    </div>
  </div>
  }
</div>
