<div class="main-container">
  <h1>Simple Google Sheet Gui for crewAI</h1>

  <!-- Conditionally display the username if the user is logged in -->
  <p *ngIf="isLoggedIn(); else notLoggedIn">{{ username }}</p>

  <ng-template #notLoggedIn>
    <p>You are not logged in.</p>
  </ng-template>

  <!-- Buttons inline and styled differently if not logged in -->
  <div class="buttons-container">
    <div
      class="load-crew-container"
      (mouseenter)="onHover()"
      (mouseleave)="onLeave()"
    >
      <button
        [ngClass]="{
          'not-logged-in': !isLoggedIn(),
          'load-crew': isLoggedIn()
        }"
        [disabled]="!isLoggedIn()"
      >
        <i class="fas fa-folder-open"></i> Load Crew
      </button>

      <!-- Crew list appears when hovering over Load Crew button or the list itself -->
      <div *ngIf="hovered && isLoggedIn()" class="crew-list">
        <ul *ngIf="crews.length > 0; else noCrews">
          <li *ngFor="let crew of crews" (click)="viewAgents(crew.id)">
            <span class="crew-name">{{ crew.name }}</span>
            <i class="fas fa-arrow-right"></i>
          </li>
        </ul>
        <ng-template #noCrews>
          <p>No crews available</p>
        </ng-template>
      </div>
    </div>

    <button
      [ngClass]="{
        'not-logged-in': !isLoggedIn(),
        'create-crew': isLoggedIn()
      }"
      [disabled]="!isLoggedIn()"
      (click)="createCrew()"
    >
      <i class="fas fa-plus-circle"></i> Create Crew
    </button>

    <!-- Delete Crew Button, only visible when a crew is selected -->
    <button *ngIf="crewId !== null" class="delete-crew" (click)="deleteCrew()">
      <i class="fas fa-trash-alt"></i> Delete Crew
    </button>
  </div>

  <div class="main-page-container" *ngIf="crewId">
    <div class="navigation-tabs">
      <a [routerLink]="['/crew', crewId, 'agents']" routerLinkActive="active"
        >Agents</a
      >
      <a [routerLink]="['/crew', crewId, 'tasks']" routerLinkActive="active"
        >Tasks</a
      >
    </div>
    <router-outlet></router-outlet>
  </div>
  <!-- Kickoff button, only enabled if conditions are met -->
  <button (click)="navigateToKickoff()" class="kickoff-btn">Kickoff</button>
</div>
