<div class="main-container">
  <h1>Simple Google Sheet Gui for crewAI</h1>

  @if(isLoggedIn()){
  <p>{{ username }}</p>
  }@else{
  <p>You are not logged in.</p>
  } @if(selectedCrewName){
  <div class="selected-crew-name">
    <p>Selected Crew: {{ selectedCrewName }}</p>
  </div>
  }

  <div class="buttons-container">
    <div
      class="load-crew-container"
      (mouseenter)="onHover()"
      (mouseleave)="onLeave()"
    >
      <button
        [ngClass]="{
          'not-logged-in': !isLoggedIn(),
          'load-crew': isLoggedIn()
        }"
        [disabled]="!isLoggedIn()"
      >
        <i class="fas fa-folder-open"></i> Load Crew
      </button>

      @if(hovered && isLoggedIn()){
      <div class="crew-list">
        @if(crews().length > 0){
        <ul>
          @for(crew of crews(); track crew.id ){
          <li (click)="viewAgents(crew.id)">
            <span class="crew-name">{{ crew.name }}</span>
            <i class="fas fa-arrow-right"></i>
          </li>
          }
        </ul>
        }@else{
        <p>No crews available</p>
        }
      </div>
      }
    </div>

    <button
      [ngClass]="{
        'not-logged-in': !isLoggedIn(),
        'create-crew': isLoggedIn()
      }"
      [disabled]="!isLoggedIn()"
      (click)="createCrew()"
    >
      <i class="fas fa-plus-circle"></i> Create Crew
    </button>
    <button
      [routerLink]="['/kickoff']"
      [ngClass]="{
        'not-logged-in': !isLoggedIn(),
        'kickoff-btn': isLoggedIn()
      }"
      [disabled]="!isLoggedIn()"
    >
      Kickoff
    </button>

    @if(crewId !== null){
    <button class="delete-crew" (click)="deleteCrew()">
      <i class="fas fa-trash-alt"></i> Delete Crew
    </button>
    }
  </div>

  @if(crewId){
  <div class="main-page-table-container">
    <div class="navigation-tabs">
      <a [routerLink]="['/crew', crewId, 'agents']" routerLinkActive="active"
        >Agents</a
      >
      <a [routerLink]="['/crew', crewId, 'tasks']" routerLinkActive="active"
        >Tasks</a
      >
    </div>
  </div>
  }
  <router-outlet></router-outlet>
</div>
