<main class="main-container">
  <header><h1>Simple Google Sheet Gui for crewAI</h1></header>

  <section class="username-container">
    @if(isLoggedIn){
    <p>{{ username }} ${{ balance | number : "1.2-2" }}</p>
    }@else{
    <p>You are not logged in.</p>
    }
  </section>

  <section class="buttons-container">
    <div
      class="load-crew-container"
      (mouseenter)="onHover()"
      (mouseleave)="onLeave()"
    >
      <button
        [ngClass]="{
          'not-logged-in': !isLoggedIn,
          'load-crew': isLoggedIn
        }"
        [disabled]="!isLoggedIn"
      >
        <i class="fas fa-folder-open"></i> Load Crew
      </button>

      @if(hovered && isLoggedIn){
      <div class="crew-list">
        @if(crews().length > 0){
        <ul>
          @for(crew of crews(); track crew.id ){
          <li (click)="viewAgents(crew.id)">
            <span class="crew-name">{{ crew.name }}</span>
            <i class="fas fa-arrow-right"></i>
          </li>
          }
        </ul>
        }@else{
        <p class="no-crews-message">No crews available</p>
        }
      </div>
      }
    </div>

    <button
      [ngClass]="{
        'not-logged-in': !isLoggedIn,
        'create-crew': isLoggedIn
      }"
      [disabled]="!isLoggedIn"
      (click)="createCrew()"
    >
      <i class="fas fa-plus-circle"></i> Create Crew
    </button>
  </section>

  <router-outlet></router-outlet>
</main>
