<div class="main-page-table-container">
  <div class="navigation-tabs">
    <a routerLink="agents" routerLinkActive="active">Agents</a>
    <a routerLink="tasks" routerLinkActive="active">Tasks</a>
  </div>

  <hr class="separator" />

  @if(crewName()){
  <div class="crew-name">Current Crew: {{ crewName() }}</div>
  }

  <hr class="separator" />

  <button class="kickoff-btn" (click)="navigateToKickoff()">
    Crew Kickoff
  </button>
  <button class="delete-crew" (click)="deleteCrew()">
    <i class="fas fa-trash-alt"></i> Delete Crew
  </button>
</div>

<router-outlet></router-outlet>
