<div class="modal-container">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Add New Task</h2>
      <i class="fas fa-tasks"></i>
      <button class="close-btn" (click)="closeModal()">✖</button>
    </div>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="title">Title:</label>
        <input id="title" formControlName="title" />
        <div
          *ngIf="
            taskForm.get('title')?.invalid && taskForm.get('title')?.touched
          "
        >
          <small
            >Title is required, must be at least 3 characters long, and no more
            than 200 characters.</small
          >
        </div>
      </div>

      <div>
        <label for="description">Description:</label>
        <textarea id="description" formControlName="description"></textarea>
        <div
          *ngIf="
            taskForm.get('description')?.invalid &&
            taskForm.get('description')?.touched
          "
        >
          <small
            >Description is required, must contain letters, be at least 10
            characters long, and no more than 200 characters.</small
          >
        </div>
      </div>

      <div>
        <label for="expected_output">Expected Output:</label>
        <textarea
          id="expected_output"
          formControlName="expected_output"
        ></textarea>
        <div
          *ngIf="
            taskForm.get('expected_output')?.invalid &&
            taskForm.get('expected_output')?.touched
          "
        >
          <small
            >Expected Output is required, must contain letters, be at least 10
            characters long, and no more than 200 characters.</small
          >
        </div>
      </div>

      <div>
        <label for="agentId">Assign to Agent:</label>
        <select id="agentId" formControlName="agentId">
          <option value="" disabled>Select an agent</option>
          <option *ngFor="let agent of agents" [value]="agent.id">
            {{ agent.name }}
          </option>
        </select>
        <div
          *ngIf="
            taskForm.get('agentId')?.invalid && taskForm.get('agentId')?.touched
          "
        >
          <small>Please select an agent.</small>
        </div>
      </div>

      <div class="button-group">
        <button type="submit" [disabled]="taskForm.invalid">Add Task</button>
        <button type="button" class="close-modal-btn" (click)="closeModal()">
          Close
        </button>
      </div>
    </form>
  </div>
</div>
