.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.agents-table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.agents-table-container {
  width: 100%;
}

.agents-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.agents-table th,
.agents-table td {
  padding: 0.5rem;
  border: 1px solid #ccc;
  text-align: left;
  vertical-align: top;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.agents-table th {
  background-color: #131a25;
  color: #fff;
  font-weight: bold;
}

.agents-table td {
  background-color: #fff;
}

.agents-table td:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.agents-table input,
.agents-table textarea,
.agents-table select {
  width: 100%;
  background-color: transparent;
  border: none;
  padding: 0.25rem;
  font-family: inherit;
  font-size: 1rem;
  box-sizing: border-box;
}

.agents-table textarea {
  max-height: 4rem;
  overflow-y: auto;
  resize: none;
}

.no-agents {
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  color: #5f6368;
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 0.25rem;
  margin-top: 1rem;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
}

.buttons-container {
  display: flex;
  gap: 1rem;
  height: 2.5rem;
}

.add-agent-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #131a25;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.add-agent-btn:hover {
  background-color: rgba(19, 26, 37, 0.8);
}

.reload-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.reload-btn:hover {
  background-color: rgba(0, 123, 255, 0.8);
}

.save-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 2px solid transparent;
  background-color: #28a745;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.save-btn:hover {
  background-color: rgba(40, 167, 69, 0.8);
}

.delete-btn {
  color: red;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.validation-errors {
  font-size: 0.9rem;
  padding: 0.8rem;
  border-radius: 0.5rem;
  background-color: #f8d7da;
  color: #721c24;
}

.validation-errors p {
  font-weight: bold;
}

.validation-errors ul {
  padding-left: 1rem;
  list-style-type: disc;
}

.validation-errors li {
  margin-bottom: 0.5rem;
}

.agents-table th:nth-child(1),
.agents-table td:nth-child(1) {
  width: 10%;
}

.agents-table th:nth-child(2),
.agents-table td:nth-child(2) {
  width: 15%;
}

.agents-table th:nth-child(3),
.agents-table td:nth-child(3) {
  width: 24%;
}

.agents-table th:nth-child(4),
.agents-table td:nth-child(4) {
  width: 10%;
}

.agents-table th:nth-child(5),
.agents-table td:nth-child(5) {
  width: 15%;
}

.agents-table th:nth-child(6),
.agents-table td:nth-child(6) {
  width: 13%;
}

.agents-table th:nth-child(7),
.agents-table td:nth-child(7) {
  width: 8%;
}

.agents-table th:nth-child(8),
.agents-table td:nth-child(8) {
  width: 5%;
}
